<div class="row" style="color: #333;">
    <div style="width: 100%;">
        <div style="padding-bottom: 10px;">
            <div style="font-size: 15px; text-align: center">
                <span>MySpace Storage</span>
            </div>
        </div>
        <div class="myDriveUsage-bar" style="background-color: white">
            <div class="myDrive-usage-color" data-ng-style="{'width': myDriveWidth , 'height': 'inherit'}"><div class="myVault-usage-color" data-ng-style="{'width': myVaultWidth , 'height': 'inherit'}" style="float: right;"/> </div>
        </div>
        <div class="myDriveUsage-text">
            <div>
                <span class="color-gray" style="float: left;">{{usage|filesize}} <i>used</i></span> 
                <span class="color-black float-right"><strong>{{usage > quota ? (0|filesize) : (quota - usage|filesize)}} free</strong></span>
            </div>
        </div>
    </div>
</div>