<div class="rms-repoTitle row">
    <div class="col-md-10" style="padding: 0px">
        <div class="tab-content-item-header">{{'config.tenant.management.heading' | translate | uppercase}}</div>
        <div class="tab-content-item-description">{{'tenant.tenant_list_description' | translate}}</div>
    </div>
    <div class="col-md-2">
        <a class="btn btn-default float-right header-button" data-ng-click="goToAddTenant()">{{"tenant.add_tenant_title_button" | translate}}</a>
    </div>
</div>