<span class="close-menu-mobile big-screen-hide"><a class="glyphicon glyphicon-remove big-screen-hide toggle-close-button" data-ng-click="toggleSideBar()"></a></span>
<div class="cc-ps-menu">
	<div class="rms-settings-panel">
		<div class="rms-system-settings-item"> 
				<a class="cc-pc-menu-item" data-ng-click="onClickMainMenu()" data-ng-class="{'cc-ps-menu-selected': true}">
					<span class="icon rms-repos-entry" data-ng-class="'fill-green'">
						<i data-ng-include="'ui/img/WorkSpace.svg'"></i>
					</span>
					<span class="menu-label" data-ng-class="'color-green'">{{'workspace.title' | translate}}</span>
				</a>
		</div>
</div>