<div id="gray-transparent-background" class="big-screen-hide ipad-potrait-hide"></div>
<div class="modal-style big-screen-hide ipad-potrait-hide padding-20">
    <a class="glyphicon glyphicon-remove toggle-close-button float-right" data-ng-click="closeModal()"></a>
    <div style="font-weight:500;margin-bottom:10px;font-size:18px;margin-top:10px">{{'feature.unavailable' | translate}}</div>
    <p>{{'feature.available.in.desktop.browser' | translate}}</p>
    <div style="text-align:center;">
        <button type="button" class="btn btn-default" data-ng-click="closeModal()">{{'close' | translate}}</button>
    </div>
</div>
<div id="rms-main-view" data-ui-view="policyView" class="rms-main-view small-screen-hide" style="padding: 30px 0"></div>