<div class="modal-header" data-ng-if="title">
  <h3 class="modal-title">{{ title }}</h3>
</div>
<div class="modal-body" data-ng-if="msg">
  {{ msg }}
</div>
<div class="modal-footer" style="border-top:none;">
  <label data-ng-show="showCheckbox.length > 0" class="noselect" style="float: left; font-size: small; font-style: italic"><input type="checkbox" ng-model="checkboxModel" style="vertical-align:1px"><span style="vertical-align:3px">{{showCheckbox}}</span><span ng-show="setAttribute.length > 0" style="vertical-align:3px" uib-tooltip="{{setAttribute}}" tooltip-placement="bottom"><i class="glyphicon glyphicon-info-sign"></i></span></label>
  <a class="btn btn-default rms-settings-button" type="button" data-ng-click="cancel()" style="margin-bottom:0px;" tabindex="2">{{"cancel" | translate}}</a>
  <a class="btn btn-default rms-settings-button rms-settings-button-color" type="button" data-ng-click="ok()" tabindex="1">{{"confirm" | translate}}</a>
</div>
