<div class="modal-header" data-ng-if="title">
  <h3 class="modal-title">{{ title }}</h3>
</div>
<div class="modal-body" data-ng-if="msg">
  {{ msg }}
  <input type="text" id="folderName">
</div>
<div class="modal-footer">
  <a class="btn btn-default rms-settings-button" type="button" data-ng-click="cancel()" style="margin-bottom:0px;">{{"cancel" | translate}}</a>
  <a class="btn btn-default rms-settings-button rms-settings-button-color" type="button" data-ng-click="ok()">{{"confirm" | translate}}</a>
</div>