<div ng-controller="manageProjectTagsController" class="col-xs-12 padding-20" style="background-color: white;">
	<div class="rms-repoTitle mobile-tablet-display" data-ng-show="showRepoTitle">
		<div class="file-list-icons big-screen-hide ipad-potrait-hide toggle-icon-div" data-ng-click="toggleSideBar()"><i class="fa fa-bars toggle-glyhicon"></i></div>
	</div>

	<div ng-if="!fromCreateProject" class="mobile-tablet-display col-md-8 col-md-offset-2 col-sm-12" style="margin-top:10px;">
		<span>
			<button type="button" ng-click="onClickTab('configuration', true)" class='btn btn-default col-md-3 col-xs-12' ng-class="configTabId == 0 ? 'rms-settings-button-color' : '' " style="margin-bottom:10px; border-radius:0px;height:34px;font-size:90%;">{{'project.info' | translate}}</button>
			<button type="button" ng-click="onClickTab('accessPermission', true)" class='btn btn-default col-md-3 col-xs-12' ng-class="configTabId == 3 ? 'rms-settings-button-color' : '' " style="margin-bottom:10px; border-radius:0px;height:34px;font-size:90%;">{{'project.access.permission' | translate}}</button>			
			<button type="button" ng-click="onClickTab('classification', true)" class='btn btn-default col-md-3 col-xs-12' ng-class="configTabId == 1 ? 'rms-settings-button-color' : '' " style="margin-bottom:10px; border-radius:0px;height:34px;font-size:90%;">{{'project.classification' | translate}}</button>
			<button type="button" ng-click="onClickTab('preference', true)" class='btn btn-default col-md-3 col-xs-12' ng-class="configTabId == 2 ? 'rms-settings-button-color' : '' " style="margin-bottom:10px; border-radius:0px;height:34px;font-size:90%;">{{'advanced' | translate}}</button>
		</span>
		<div class="col-xs-12" style="height: 30px"></div>
	</div>

	<div class="text-align-center" style="margin-top: 30px" ng-show="projectTagsList.length != 0">
		<span style="font-size: 18px;font-weight: 500;">{{ 'create.new.project.tags' | translate }}</span><br>
		<span style="font-size: 13px;font-style: italic;color: #828282;line-height: 45px;">{{ 'create.new.project.tags.description' | translate }}</span>
		<div>
			<span ng-repeat="tags in projectTagsList">
				<button ng-class="tags.selected ? 'btn btn-default rms-settings-button-color button-paddings' : 'btn btn-default button-paddings'" ng-click="toggleProjectTags(tags)" style="margin:10px;" title="{{tags.name}}">
					<span class="text-ellipsis">{{tags.name}}</span>
				</button>
			</span>
		</div>
		<div class="text-align-center" ng-show="projectTagsList.length == 0">
			<i data-ng-include="'ui/img/WarningIcon.svg'"></i>
			<div>
				<span style="font-size: 15px;line-height: 45px;">{{ 'tenant.admin.project.tags.pending' | translate }}</span><br>
			</div>
		</div>
		<div ng-if="!fromCreateProject" id="button-align">
			<span class="float-right">
				<button type="button" class="btn btn-default rms-settings-button-color button-paddings" ng-click="updateProjectTags()" ng-disabled="pristine()">{{'save'| translate}}</button>
			</span>
		</div>
	</div>
</div>