<div class="row" style="color: #333;">
    <div class="padding-10" style="width: 350px;">
        <div style="padding-bottom: 10px;">
            <div style="font-size: x-large">
                <span><b>{{'usage.title' | translate}}</b></span>
            </div>
            <div class="myDriveUsage-text">
                <i>{{'storage-usage.details' | translate: '{usage: "'+ (usage|filesize:2) + '", quota: "' + (quota|filesize) + '"}'}}</i>
            </div>
        </div>
        <div class="myDriveUsage-bar">	
            <div class="myDrive-usage-color" data-ng-style="{'width': myProjectWidth , 'height': 'inherit'}"> </div>
        </div>
    </div>
</div>