<div class="cc-ps-policy">
    <div id="rms-file-details">
        <div class="rms-files">
            <span data-ng-if="!eachFile.isFolder" class="inline-flex">
                <img data-ng-if="!eachFile.isFolder" ng-src="{{fileIconName(eachFile)}}" alt="icon">
            </span>
            <i data-ng-if="eachFile.isFolder" class="glyphicon glyphicon-folder-close"></i>
            <a data-ng-click="onClickFile(eachFile)" class="rms-file-item"> {{eachFile.name}}</a>
        </div>
        <div>
            <label title="{{'repo.name'| translate}}" class="file-info-label" data-ng-if="searchActivated">{{thisRepo.name}}</label>
            <label title="{{'file.path'| translate}}" class="file-info-label" data-ng-if="searchActivated">{{eachFile.isFolder && eachFile.path.slice(-1) === "/" ? eachFile.path.slice(0, -1) : eachFile.path}}</label>
            <label title="{{'file.size'| translate}}" class="file-info-label" data-ng-if="eachFile.fileSize != null && eachFile.isFolder == false">{{eachFile.fileSize | filesize:2}}</label>
            <label title="{{'file.size'| translate}}" class="file-info-label" data-ng-if="eachFile.fileSize == null && eachFile.isFolder == false">{{'not-applicable' | translate}}</label>
            <label title="{{'last.modified'| translate}}" class="file-info-label">
			<friendly-date data-ng-if="eachFile.lastModifiedTime != null" data-date="{{eachFile.lastModifiedTime}}"
				data-content-class="friendly-date" data-full-format="d MMM yyyy,hh:mm a"
				data-short-format="hh:mm a" />
            </label>
        </div>
    </div>
    <div class="rms-file-menu" data-ng-mouseleave="hideMenu()" data-ng-mouseover="showMenu(eachFile.pathId)" data-ng-if="!eachFile.isFolder">
        <div class=" file-menu-button">
            <span>
				<a title="{{'toolbar.menu'| translate}}" class="glyphicon glyphicon-option-vertical" data-ng-hide="eachFile.isFolder"></a>
			</span>
        </div>
        <div class="file-menu-operations">
            <span data-ng-if ="selectedFileId === eachFile.pathId && isMenuClicked">
				<a class="fileListOption-info-icon" title="{{'viewer.toolbar.info'| translate}}" data-ng-click="onClickInfo(eachFile)" data-ng-if ="!eachFile.isFolder && eachFile.protectedFile">
					<i data-ng-include="'ui/img/FileInfo_P.svg'"></i>
				</a>
                <a class="fileListOption-protect-icon" title="{{'viewer.toolbar.protect'| translate}}" data-ng-click="onClickProtect(eachFile)" data-ng-if ="!eachFile.isFolder && !eachFile.protectedFile" >
                    <i data-ng-include="'ui/img/Protect_P.svg'"></i>
                </a>
            </span>
        </div>
    </div>
</div>