<div class="rms-repo-list-header">
    <div id="rms-repoTitle-id" class="rms-repoTitle">
        <div class="file-list-icons big-screen-hide ipad-potrait-hide toggle-icon-div" data-ng-click="toggleSideBar()"><i class="fa fa-bars toggle-glyhicon"></i></div>
        <div class="file-list-icons"><b>{{ thisRepo.name}}</b></div>
        <div class="class-icon application">
			<span class="dot"> &bull; </span>
			<img ng-src="{{'ui/img/repository-application-account.svg'}}" alt="{{'service-provider.class.personal-account' | translate}}">
		</div>
        <div class="file-list-icons file-list-icons-float-right" data-ng-click="toggleSort()"><i class="fa fa-sort file-list-icons-size"></i></div>
        <div style="display:none" class="file-list-icons file-list-icons-float-right"  data-ng-click="toggleSearch()"><i class="fa fa-search file-list-icons-size"></i></div>
    </div>
    <div id="fileSearchDivId" class="fileListOptions-div-mobile" data-ng-show="showSearch">
        <form ng-submit="search()" >
            <i class="fa fa-search"></i></input>
            <input placeholder="{{'search.placeholder' | translate}}"  type="text" ng-model="$parent.searchString" clear-input="clearSearch()">
            <span class="file-options-icon-padding" data-ng-click="closeFileListOptions()"><i class="fa fa-times"></i></span>
        </form>
    </div>
    <div id="fileSortId" class="fileListOptions-div-mobile" data-ng-show="showSort">
        <label class="rms-file-sort-label">{{'sort.by' | translate}}</label>&nbsp;
        <select data-ng-options="sort.sortBy as sort.description | translate for sort in sortOptions" data-ng-model="$parent.selectedSort" ng-change="sort()"></select>
        <span class="file-options-icon-padding" data-ng-click="closeFileListOptions()"><i class="fa fa-times"></i></span>
    </div>
</div>
<label class="file-list-cur-folder-name" ng-show="parentFolder"><b>{{currentFolder.name}}</b></label>