<div class="col-xs-12" data-ng-controller="downloadRMDController">
	
	<div id="rms-download-rmc-title">
        <div class="file-list-icons big-screen-hide ipad-potrait-hide toggle-icon-div" data-ng-click="toggleSideBar()"><i class="fa fa-bars toggle-glyhicon"></i></div>
		<div data-ng-if="isWindows" class="file-list-icons"><h3>{{'download.rmd.header.win.long' | translate}}</h3></div>
		<div data-ng-if="!isWindows" class="file-list-icons"><h3>{{'download.rmd.header.mac.long' | translate}}</h3></div>
    </div>
    
	<br>
	<div class="row">
		<div class="col-xs-8">
			<div id="statusContainer" data-ng-class="{'alert alert-success': messageStatus==2, 'alert alert-danger': messageStatus==1}" style="margin-bottom:10px;" ng-show="messageStatus==1 || messageStatus==2">
		        <button type="button" class="close" data-ng-click="dismissStatus()">x</button>
		        {{message}}
		    </div>
		</div>
	</div>

	<div class="row">
		<div>
		  	<div id="download-rmc">
		  		<ol type="1">
					<li>{{'download.rmd.step.1' | translate}}</li>
					<li>{{'download.rmd.step.2' | translate}}</li>
					<br>
					<a class="btn btn-default rms-settings-button-color" data-ng-if="isWindows && !isWin64 && download32Enabled" data-ng-click="downloadRMD('win32')" >{{"download.rmd.tab.32" | translate}}</a>
					<a class="btn btn-default rms-settings-button-color" data-ng-if="isWindows && isWin64 && download64Enabled" data-ng-click="downloadRMD('win64')" >{{"download.rmd.tab.64" | translate}}</a>
					<a class="btn btn-default rms-settings-button-color" data-ng-if="isMac && downloadMacEnabled" data-ng-click="downloadRMD('mac')" >{{"download.rmd.tab.mac" | translate}}</a>
					<br><br>
					<p data-ng-if="(isMac || isWin64) && download32Enabled">
						{{'download.rmd.ps.1' | translate}}
						<a class="underline pointer-click" data-ng-click="downloadRMD('win32')">{{'download.rmd.ps.2' | translate}}</a>
						{{'download.rmd.ps.3' | translate:'{bit: "32"}'}}
					</p>
					<p data-ng-if="(isMac || !isWin64 ) && download64Enabled">
						{{'download.rmd.ps.1' | translate}}
						<a class="underline pointer-click" data-ng-click="downloadRMD('win64')">{{'download.rmd.ps.2' | translate}}</a>
						{{'download.rmd.ps.3' | translate:'{bit: "64"}'}}
					</p>
					<p data-ng-if="!isMac && downloadMacEnabled">
						{{'download.rmd.ps.1' | translate}}
						<a class="underline pointer-click" data-ng-click="downloadRMD('mac')">{{'download.rmd.ps.2' | translate}}</a>
						{{'download.rmd.ps.4' | translate}}
					</p>
				</ol>
			</div>
		</div>
	</div>
</div>