web/WEB-INF/classes
web/WEB-INF/deploy
web/WEB-INF/lib
web/ui/deploy
web/ui/node_modules
# Files and directories created by pub
.packages
.pub/
build/
packages
pubspec.lock

# Files created by dart2js
*.dart.js
*.part.js
*.js.deps
*.js.map
*.info.json

# Directory created by dartdoc
doc/api/
