<form novalidate class="form-horizontal" name="changePasswordForm" data-ng-submit="changePasswordForm.$pristine || changePasswordForm.$invalid || changePassword(changePasswordForm)">
    <div class="row display-block" style="margin-top: 15px">
        <div class="col-xs-12">
            <label class="usrProfileLabel padding-mobile" style="padding: 0px">{{'manage.profile.current.password' | translate}}</label>
        </div>
        <div class="col-xs-12">
            <input type="password" style="width: 250px" id="old-pwd-textbox" data-ng-model="changePasswordData.oldPassword" name="OLD_PASSWORD" data-ng-required="true" tabindex="1" />
        </div>
        <div class="usrProfileError" data-ng-if="changePasswordForm.OLD_PASSWORD.$touched && changePasswordForm.OLD_PASSWORD.$error.required && isModalOpen">
            <span class="mandatory">{{"manage.profile.current.password.required" | translate}}</span>
        </div>
    </div>
    <div class="row display-block" style="margin-top: 15px">
        <div class="col-xs-12">
            <label class="usrProfileLabel padding-mobile" style="padding: 0px">{{'manage.profile.new.password' | translate}}</label>
        </div>
        <div class="col-xs-12">
            <input type="password" style="width: 250px" data-ng-minlength="8" data-ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[\W])[A-Za-z\d\W]{8,}$/" 
                data-ng-model="changePasswordData.newPassword" equals="{{changePasswordData.newPasswordConfirm}}" name="NEW_PASSWORD" data-ng-required="true" tabindex="2" />
        </div>
        <div class="usrProfileError" data-ng-if="changePasswordForm.NEW_PASSWORD.$touched && changePasswordForm.NEW_PASSWORD.$error.required && isModalOpen">
            <span class="mandatory">{{"manage.profile.new.password.required" | translate}}</span>
        </div>
		<div class="usrProfileError"
			data-ng-if="changePasswordForm.NEW_PASSWORD.$touched && (changePasswordForm.NEW_PASSWORD.$error.minlength || changePasswordForm.NEW_PASSWORD.$error.pattern) && isModalOpen">
			<span class="mandatory">{{"manage.profile.change.password.pattern.invalid" | translate}}</span>
		</div>
	</div>
    <div class="row display-block" style="margin-top: 15px">
        <div class="col-xs-12">
            <label class="usrProfileLabel padding-mobile" style="padding: 0px">{{'manage.profile.new.password.confirm' | translate}}</label>
        </div>
        <div class="col-xs-12">
            <input type="password" style="width: 250px" data-ng-model="changePasswordData.newPasswordConfirm" equals="{{changePasswordData.newPassword}}" name="NEW_PASSWORD_CONFIRM" 
                data-ng-required="true" ui-validate="'$value==newPassword'"ui-validate-watch="'NEW_PASSWORD'" tabindex="3" />
        </div>
		<div class="usrProfileError"
			data-ng-if="changePasswordForm.NEW_PASSWORD_CONFIRM.$touched && (changePasswordForm.NEW_PASSWORD_CONFIRM.$invalid || changePasswordForm.NEW_PASSWORD_CONFIRM.$error.required) && isModalOpen">
			<span class="mandatory">{{"manage.profile.passwords.not.matched" | translate}}</span>
		</div>
	</div>
    <div class="row display-block" style="margin-top: 30px;">
        <div class="col-xs-12">
            <a class="btn btn-default rms-settings-button" data-ng-mousedown="cancelChangePassword(changePasswordForm)" tabindex="5">{{"cancel" | translate}}</a>
            <a class="btn btn-default rms-settings-button-color rms-settings-button" data-ng-disabled="changePasswordForm.$pristine || changePasswordForm.$invalid" 
                data-ng-click="changePasswordForm.$pristine || changePasswordForm.$invalid || changePassword(changePasswordForm)" tabindex="4">{{"save" | translate}}</a>
        </div>
    </div>
</form>